<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>This is the Readium-SDK CI UnitTester for the master branch of the Readium SDK</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Delete:devauto</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:devauto</permission>
      <permission>hudson.model.Run.Update:devauto</permission>
      <permission>hudson.model.Item.Configure:devauto</permission>
      <permission>hudson.model.Item.Workspace:devauto</permission>
      <permission>hudson.model.Item.Cancel:devauto</permission>
      <permission>hudson.model.Item.Delete:devauto</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:devauto</permission>
      <permission>hudson.model.Item.Discover:devauto</permission>
      <permission>hudson.scm.SCM.Tag:devauto</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.4.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>MacOSX-Angel</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>export DYLD_LIBRARY_PATH=/Users/devauto/workspace/Readium-SDK-Build-Develop/TARGET/UnitTests/label/MacOSX-Angel/Platform/Apple/build/Release
export DYLD_FRAMEWORK_PATH=/Users/devauto/workspace/Readium-SDK-Build-Develop/TARGET/UnitTests/label/MacOSX-Angel/Platform/Apple/build/Release
/Users/devauto/workspace/Readium-SDK-Build-Develop/TARGET/UnitTests/label/MacOSX-Angel/Platform/Apple/build/Release/UnitTests</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.3"/>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>true</runSequentially>
  </executionStrategy>
</matrix-project>